{%extends 'administration/painel.html'%}
{% load bootstrap5 %}
{%block title%}Contato de {{contato.nome}}{%endblock title%}
{% block conteudo %}
<!-- <div class="container text-white">
    <br>
    <h2>Detalhes da Mensagem</h2>
    <p>Nome: {{ contato.nome }}</p>
    <p>Email: {{ contato.email }}</p>
    <p>Telefone: {{ contato.telefone }}</p>
    <p>Mensagem: {{contato.mensagem}}</p>
    {% if contato.status == True %}
    <p>Status: Respondido</p>
    {% else %}
    <p>Status: Não Respondido</p>
    {% endif %}
</div> -->

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center text-white rounded-3">
            <li class="breadcrumb-item text-white">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'painel_adm' %}">
                    <i class="fa-solid fa-house"></i><span class="dist"></span>
                    Painel
                </a>
            </li>
            <li class="breadcrumb-item text-white">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white"
                    href="{% url 'contato_list' %}">Lista de Mensagens</a>
            </li>
            <li class="breadcrumb-item active text-white" aria-current="page">
                Ler Mensagem
            </li>
        </ol>
    </nav>
</div>

<div class="card mb-3">
    <div class="card-body">
        <p class="card-title"><i class="fa-solid fa-user"></i><span class="dist"></span><strong>Nome:
            </strong>{{contato.nome}}</p>
        <p class="card-title"><i class="fa-solid fa-envelope"></i><span class="dist"></span><strong>E-mail: </strong>{{contato.email }}</p>
        <p class="card-title"><i class="fa-regular fa-calendar-days"></i><span class="dist"></span><strong>Data: </strong>{{contato.data }}</p>
        <p class="card-title"><i class="fa-solid fa-phone"></i><span class="dist"></span><strong>Telefone: </strong>{{contato.telefone }}</p>
        <p class="card-text"><i class="fa-solid fa-file-lines"></i><span class="dist"></span><strong>Mensagem:</strong>
            {{contato.mensagem}}</p>
        <hr>

        <p class="card-text"><STRong>STATUS</STRong></p>

        {% if contato.lida == False %}
        <p class="card-text"><strong>Lida: </strong>Não</p>
        {% else %}
        <p class="card-text"><strong>Lida: </strong>Sim</p>
        {% endif %}

        {% if contato.status == True %}
        <p class="card-text"><strong>Resposta: </strong>Respondida</p>
        {% else %}
        <p class="card-text"><strong>Resposta: </strong>Não Respondida</p>
        {% endif %}




        <a href="{% url 'atualizar_contato' contato.id %}" class="btn btn-primary">Atualizar Status</a>



    </div>
</div>


{% endblock %}