{% extends 'administration/painel.html' %}
{% load static bootstrap5 %}

{% block title %}Lista de Contatos{% endblock title %}

{% block conteudo %}




<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center rounded-3">
      <li class="breadcrumb-item text-white">
        <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'painel_adm' %}">
          <i class="fa-solid fa-house"></i><span class="dist"></span>
          Painel
        </a>
      </li>
      <li class="breadcrumb-item text-white active">
        <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'contato_list' %}">Caixa
          de Entrada</a>
      </li>
    </ol>
  </nav>
</div>

<table class="table  table-striped rounded">
  <thead>
    <tr>

      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Status</th>
      <th scope="col">Resposta</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>

  {% for contato in contatos %}

  <tbody>


    {% if contato.lida == False %}
    <tr class="table-dark">

      <td>{{contato.nome}}</td>
      <td>{{contato.email}}</td>
      <td><button type="button" class="btn btn-danger"><i class="fa-regular fa-envelope"></i></button></td>
      {% if contato.status == True %}
      <td><button type="button" class="btn btn-success"><i class="fa-solid fa-check"></i></button></td>
      {% else %}
      <td><button type="button" class="btn btn-danger"><i class="fa-solid fa-xmark"></i></button></td>
      {% endif %}
      <td><a class="btn btn-primary" href="{% url 'contato_list' contato.id %}" role="button">Ler</a></td>

      {% else %}

      <td>{{contato.nome}}</td>
      <td>{{contato.email}}</td>
      <td><button type="button" class="btn btn-secondary"><i class="fa-regular fa-envelope-open"></i></button></td>
      {% if contato.status == True %}
      <td><button type="button" class="btn btn-success"><i class="fa-solid fa-check"></i></button></td>
      {% else %}
      <td><button type="button" class="btn btn-danger"><i class="fa-solid fa-xmark"></i></button></td>
      {% endif %}
      <td><a class="btn btn-primary" href="{% url 'contato_list' contato.id %}" role="button">Ler</a></td>     
      
      
      {% endif %}
      
    </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock conteudo %}