{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block description %}Entre em contato com a equipe da PlayPlan{% endblock description %}
{% block title %}Contato{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 align-self-center">
      <h1 class="text-white display-4 fw-bold lh-1 mb-3">Contate-nos aqui!</h1>
      <p class="text-white col-lg-10 fs-4">Mande uma mensagem para podermos saber qual o seu feedback sobre a página.</p>
    </div>
    <div class="col-lg-6">
      <form method="post" class="bg-transparent">
        {% csrf_token %}
        <section class="bg-transparent container">
          <div class="text-white mb-3">
            {% bootstrap_form form %}
          </div>
          <button class="text-white btn btn-dark" type="submit">Enviar</button>
        </section>
      </form>
    </div>
  </div>
</div>


{% endblock content %}
