{% extends 'administration/painel.html' %}
{% load static bootstrap5 %}

{% block title %}Lista de Apoiadores{% endblock title %}


{% block conteudo %}
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center rounded-3">
            <li class="breadcrumb-item text-white">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'painel_adm' %}">
                    <i class="fa-solid fa-house"></i><span class="dist"></span>
                    Painel
                </a>
            </li>
            <li class="breadcrumb-item text-white active">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'lista_de_apoiadores' %}">Lista de Apoiadores</a>
            </li>
        </ol>
    </nav>
</div>
<ul class="list-group list-group-flush">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Consultar</th>
                <th scope="col">Atualizar</th>
                <th scope="col">Deletar</th>
            </tr>
        </thead>
        
        <tbody>
            {% for apoiador in page_obj %}
            <tr>
                <th scope="row">{{ apoiador.id }}</th>
                <td>{{apoiador.nome}}</td>
                <td>{{apoiador.email}}</td>
                <td><a class="btn btn-primary" href="{% url 'detalhar_apoiador' apoiador.id %}" role="button"><i class="fa-solid fa-eye"></i></a></td>
                <td><a href="{% url 'atualizar_apoiador' apoiador.id %}" class="btn btn-primary"><i class="fa-solid fa-rotate-right"></i></a></td>
                <td><a href="{% url 'apagar_apoiador' apoiador.id %}" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</ul>

<div class="container">
    {% bootstrap_pagination page_obj %}
</div>

{% endblock conteudo %}