{% extends 'administration/teste.html' %}
{% load static bootstrap5 %}

<!-- {% block description %}O PlayPlan é uma plataforma inclusiva que busca facilitar o desenvolvimento e bem-estar de crianças com TDAH e Autismo.{% endblock description %} -->
{% block title %}Atualizar Categoria {% endblock title %}

{% block main %}

<div class="mt-2">
    <nav aria-label="breadcrumb">
        <ol class="teste text-white breadcrumb breadcrumb-custom overflow-hidden text-center rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'painel_adm' %}">
                    <i class="fa-solid fa-house"></i><span class="dist"></span>
                    Painel
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'listar_categorias' %}">Lista de Categorias</a>
            </li>
            <li class="breadcrumb-item active text-white" aria-current="page">
                Atualizar Categoria
            </li>
        </ol>
    </nav>
</div>

<div class="teste text-white p-3 rounded">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media.js }}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">Atualizar</button>
    </form>
</div>

{% endblock main %}