{% extends 'administration/painel.html' %}
{% load static bootstrap5 %}

{% block title %}Detalhar Categoria{% endblock title %}

{% block conteudo %}
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'painel_adm' %}">
                    <i class="fa-solid fa-house"></i><span class="dist"></span>
                    Painel
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'listar_categorias' %}">Lista de Categorias</a>
            </li>
            <li class="breadcrumb-item active text-white" aria-current="page">
                Detalhar Categoria
            </li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{categoria.name}}</h5>
      <p class="card-text">{{categoria.about}}</p>
    </div>
  </div>

{% endblock conteudo %}