{% extends 'administration/painel.html' %}
{% load static bootstrap5 %}

{% block title %}Lista de Categorias{% endblock title %}

{% block conteudo %}
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'painel_adm' %}">
                    <i class="fa-solid fa-house"></i><span class="dist"></span>
                    Painel
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white"
                    href="{% url 'listar_categorias' %}">Lista de Categorias</a>
            </li>
        </ol>
    </nav>
</div>




<ol class="list-group list-group-numbered">
    {% for categoria in categorias %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{categoria.name}}</div>
            {{categoria.about}}
        </div>
        {% endfor %}
    </li>

</ol>

{% endblock conteudo %}