{% extends 'administration/teste.html' %}
{% load static bootstrap5 %}

<!-- {% block description %}O PlayPlan é uma plataforma inclusiva que busca facilitar o desenvolvimento e bem-estar de crianças com TDAH e Autismo.{% endblock description %} -->
{% block title %}Lista de Categorias {% endblock title %}

{% block main %}
<div class="mt-2">
    <nav aria-label="breadcrumb">
        <ol class="teste text-white breadcrumb breadcrumb-custom overflow-hidden text-center rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'painel_adm' %}">
                    <i class="fa-solid fa-house"></i><span class="dist"></span>
                    Painel
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none text-white"
                    href="{% url 'listar_categorias' %}">Lista de Categorias</a>
            </li>
        </ol>
    </nav>
</div>




<ol class="list-group list-group-numbered">
    {% for categoria in page_obj %}
    <li class="container teste text-white list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold mt-3">{{categoria.name}}</div>
            
        </div>
        <div class="mt-2">
            <a href="{% url 'atualizar_categoria' categoria.id %}" class="btn btn-primary"><i class="fa-solid fa-rotate-right"></i></a>
            <span class="dist"></span>
            <a href="{% url 'detalhar_categoria' categoria.id %}" class="btn btn-success"><i class="fa-solid fa-eye"></i></a>
            <span class="dist"></span>
            <a href="{% url 'apagar_categoria' categoria.id %}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
            
            
        </div>
    </li>
    {% endfor %}
</ol>

{% if num_categorias > 2 %}
<div class="container mt-3">
    {% bootstrap_pagination page_obj %}
</div>
{% endif %}



{% endblock main %}