{% extends 'base.html' %}
{% load static bootstrap5 %}
{% block title %}Blogue{% endblock %}

{% block content %}

<div class="container texto-branco my-4">
  <div class="card">
    <img src="{{ post.featured_image.url }}" class="card-img-top img-fluid" alt="{{ post.title }}">
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text"><small class="text-muted">Publicado em {{ post.date }}</small></p>
      <p class="card-text">{{ post.text }}</p>
    </div>
  </div>

  {% if images %}
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
      {% for image in images %}
        <div class="col">
          <img src="{{ image.image.url }}" class="img-fluid" alt="Gallery Image">
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="d-flex justify-content-end mt-3">
    <a href="{% url 'blog_post_edit' pk=post.pk %}" class="btn btn-primary{% if not user.is_authenticated %} disabled{% endif %} me-2">Editar</a>
    <a href="{% url 'blog_post_delete' pk=post.pk %}" class="btn btn-danger{% if not user.is_authenticated %} disabled{% endif %}">Excluir</a>
  </div>

</div>

{% endblock %}
