{% extends 'base.html' %}
{% load static bootstrap5 bootstrap_icons %}


{% block title %}Notícias{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">


    <div class="col-8 bg-secondary-subtle rounded p-3">
      <h1 class="">{{ post.title }}</h1>
      <p class="blog-post-meta">{% bs_icon 'calendar3' %} Publicado em: {{ post.date }}
        <br>
        {% bs_icon 'person-fill' %} Publicado por Equipe PlayPlan
      </p>
      <img class="m-3" src="{{ post.featured_image.url }}" width="700" alt="">
      <p class="text-white">{{ post.description|safe }}</p>

      {% if images %}
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        {% for image in images %}
        <div class="col">
          <img src="{{ image.image.url }}" class="img-fluid" alt="Gallery Image">
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <hr>

      <div class="d-flex flex-wrap justify-content-between">
        <h4>Compartilhe nas Redes Sociais:
        </h4>
        <ul class="nav justify-content-end d-flex">
          <li class="ms-1"><a href="" class="btn btn-secondary btn-lg">{% bs_icon 'facebook' %}</a></li>
          <li class="ms-1"><a href="" class="btn btn-secondary btn-lg">{% bs_icon 'instagram' %}</a></li>
          <li class="ms-1"><a href="" class="btn btn-secondary btn-lg">{% bs_icon 'twitter-x' %}</a></li>
          <li class="ms-1"><a href="" class="btn btn-secondary btn-lg">{% bs_icon 'whatsapp' %}</a></li>
          <li class="ms-1"><a href="" class="btn btn-secondary btn-lg">{% bs_icon 'telegram' %}</a></li>
        </ul>
      </div>
    </div>



    <div class="col-4">

      <div class="card mb-3 bg-secondary-subtle mb-3" style="width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Sobre o Blog {{ post.category }}</h5>
          <p class="card-text">{{ post.category.about }}</p>

        </div>
      </div>

      <div class="card mb-3 bg-secondary-subtle" style="width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Outras notícias sobre {{ post.category }}</h5>
          {% for post in noticia %}
          <div class="card mb-3" style="max-width: 350px;">
            <div class="row g-0">
              <div class="col-md-12">
                <a href="{% url 'postagem' post.id %}"><img src="{{ post.featured_image.url }}"
                    class="img-fluid rounded-start" alt="..."></a>
              </div>
              <div class="col-md-12">
                <div class="card-body">
                  <a class="text-decoration-none text-black" href="{% url 'postagem' post.id %}">
                    <h5 class="card-title">{{ post.title }}</h5>
                  </a>
                  <p class="card-text">{{ post.about }}</p>

                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>



    </div>
  </div>
</div>






{% endblock content %}