{% extends 'base.html' %}
{% load static bootstrap5 %}


{% block title %}Notícias{% endblock title %}

{% block content %}
<div class="container">
<h1 class="text-white">Um título qualquer sobre o Alfie, o Teimoso</h1>
<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident eius tenetur aliquam necessitatibus voluptatum, magnam ipsam. Unde, quaerat nostrum veniam odit fugiat ducimus ipsum incidunt expedita facere dolores. Repudiandae? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo ex eveniet ut similique! Eos tempora ab animi sapiente officiis quae adipisci aliquam velit mollitia, veritatis, incidunt quibusdam voluptatibus eum dolore?</p>
<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi debitis perspiciatis animi in! Pariatur consectetur corporis reiciendis dignissimos repudiandae dolorem quaerat veritatis omnis? Magni voluptatem voluptatum totam pariatur aliquam exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam commodi earum autem. Eligendi sequi esse similique perspiciatis, laboriosam ratione aperiam accusantium sit dolores repellat at ipsum. Repudiandae quia pariatur saepe?</p>
<p class="text-white"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsum nesciunt possimus molestias voluptate odio beatae officia cum. Quam repudiandae non sit libero sapiente dolorem quaerat porro in reprehenderit quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nobis reiciendis accusantium, incidunt quisquam inventore non ex consectetur quo quod, cumque rerum nam cum? Incidunt totam aspernatur laboriosam reprehenderit quo.</p>



</div>



{% endblock content %}