{% extends 'base.html' %}
{% load static bootstrap5 %}


{% block title %}Notícias{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-white">Identificando o TDAH em Crianças: Sintomas, Sinais e Estratégias</h1>
      <p class="blog-post-meta text-white"><i class="fa-solid fa-calendar-days"></i> Publicado no dia 31/01/2024 e
        atualizado no dia 03/02/2024
        <br>
        <i class="fa-solid fa-user"></i> Publicado por <a class="text-white" href="#">Gleiser Wesley</a>
      </p>
      <img class="m-3" src="/static/img/fundo.jpg" width="700" alt="">
      <p class="text-white">O Transtorno do Déficit de Atenção e Hiperatividade (TDAH) é uma condição neurobiológica comum que afeta crianças em todo o mundo. Identificar o TDAH em crianças é crucial para fornecer o suporte necessário para o seu desenvolvimento emocional, acadêmico e social. No entanto, reconhecer os sintomas pode ser desafiador, pois eles podem se sobrepor a comportamentos típicos da infância. Neste artigo, exploramos como identificar o TDAH em crianças, os sinais a serem observados e estratégias para buscar ajuda adequada.</p>
      <h6 class="texto-branco"><strong>O que é TDAH?</strong></h6>
      <p class="text-white">O TDAH é caracterizado por sintomas de desatenção, hiperatividade e impulsividade que interferem significativamente na vida diária da criança. Embora os sintomas variem em gravidade e apresentação, o TDAH pode prejudicar o desempenho acadêmico, as relações sociais e a autoestima da criança.</p>
      <h6 class="texto-branco"><strong>Sintomas de TDAH em Crianças</strong></h6>
      <p class="text-white"><strong>1. Desatenção</strong></p>
      <p class="text-white">- Dificuldade em prestar atenção a detalhes ou cometer erros por descuido em atividades escolares ou tarefas.</p>
      <p class="text-white">- Dificuldade em manter o foco em atividades ou brincadeiras.</p>
      <p class="text-white">- Parece não escutar quando falado diretamente.</p>
      <p class="text-white">- Perde frequentemente objetos necessários para tarefas ou atividades.</p>
      <p class="text-white"><strong>2. Hiperatividade:</strong></p>
      <p class="text-white">- Agitação frequente, como mexer as mãos ou os pés, ou se contorcer na cadeira.</p>
      <p class="text-white">- Dificuldade em permanecer sentado em situações em que se espera que a criança permaneça sentada.</p>
      <p class="text-white">- Correr ou escalar em situações inadequadas.</p>
      <p class="text-white"><strong>3. Impulsividade:</strong></p>
      <p class="text-white">- Respostas precipitadas antes que as perguntas tenham sido concluídas.</p>
      <p class="text-white">- Dificuldade em aguardar a sua vez em jogos ou atividades em grupo.</p>
      <p class="text-white">- Interrupção constante de conversas ou atividades de outras pessoas.</p>
      

    </div>
    <div class="col-sm-4 p-0">

      <div class="bg-secondary p-2 rounded row">

        <h4>Notícias Relacionadas</h4>
        <hr>
        <div class="row justify-content-start p-0 my-2">
          <div class="col-4">
            <a href="{% url 'postagem' %}"><img src="/static/img/alfie.jpg" width="110" class="float-start"
                alt=""></a>
          </div>
          <div class="col-8 p-0">
            <a class="card-title text-decoration-none" href="{% url 'postagem' %}"><h6 class="card-title">Título de outras publicação sobre o Alfie, o Teimoso</h6></a>           
          </div>
        </div>
        <hr>
        <div class="row justify-content-start p-0 my-2">
          <div class="col-4">
            <a href="{% url 'postagem' %}"><img src="/static/img/alfie.jpg" width="110" class="float-start"
                alt=""></a>
          </div>
          <div class="col-8 p-0">
            <a class="card-title text-decoration-none" href="{% url 'postagem' %}"><h6 class="card-title">Título de outras publicação sobre o Alfie, o Teimoso</h6></a>                     
          </div>
        </div>
        <hr>
        <div class="row justify-content-start p-0 my-2">
          <div class="col-4">
            <a  href="{% url 'postagem' %}"><img src="/static/img/alfie.jpg" width="110" class="float-start"
                alt=""></a>
          </div>
          <div class="col-8 p-0">
            <a class="card-title text-decoration-none" href="{% url 'postagem' %}"><h6 class="card-title">Título de outras publicação sobre o Alfie, o Teimoso</h6></a>                
          </div>
        </div>

      </div>
    </div>
  </div>

</div>




{% endblock content %}