body {
    background-image: url('/static/img/bg5.jpg'); /* Substitua pela URL da sua imagem */    
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

.texto-branco {
    color: #fff; /* Código da cor branca */
}

body.fundo-do-site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1#branco{
    color:#fff
}