{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Seu Título Aqui{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script defer src="/static/app.js"></script>
</head>

<body class="fundo-do-site">

    <header class="header">
        <nav class="navbar navbar-expand-md" style="background-color: #e3f2fd0e;">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/static/img/logo.png" alt="Logo" width="100">
                </a>
                <button class="hamburger navbar-toggler border-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link texto-branco" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link texto-branco" href="#">Quem Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link texto-branco" href="#">TDH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link texto-branco" href="#">TEA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link texto-branco" href="#">PlayPan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link texto-branco" href="{% url 'contato' %}">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link texto-branco" href="#">Apoie o Projeto</a>
                        </li>
                        <!-- Adicione mais itens de menu conforme necessário -->
                    </ul>
                </div>
            </div>

        </nav>
        <hr class="container ms-auto border-5 border-light">
    </header>


    <main>
        {% block content %}
        
        {% endblock %}
    </main>


    <section class='container'>

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

            <p class="col-md-4 mb-0 texto-branco">© 2024 Somos Todos Nerds</p>
            
            <div>
                <a class="navbar-brand" href="#">
                    <img src="/static/img/logo.png" alt="Logo" width="70">
                </a>
                
                <a class="navbar-brand" href="#">
                    <img src="/static/img/cubo.png" alt="Logo" width="70">
                </a>
            </div>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 texto-branco">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 texto-branco">Quem Somos</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 texto-branco">TDAH</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 texto-branco">TEA</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 texto-branco">PlayPan</a></li>
                <li class="nav-item"><a href="{% url 'contato' %}" class="nav-link px-2 texto-branco">Contato</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 texto-branco">Apoie o Projeto</a></li>
            </ul>
        </footer>
    </section>


</body>

</html>