{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block description %}O PlayPlan é uma plataforma inclusiva que busca facilitar o desenvolvimento e bem-estar de crianças com TDAH e Autismo.{% endblock description %}
{% block title %}Confirmação de Inscrição{% endblock title %}

{% block content %}

<div class="container my-5 text-center bg-secondary-subtle p-4 rounded">
    <h2>Confirmação de Inscrição</h2>
    <p>Obrigado por se inscrever! Um e-mail de confirmação foi enviado para <strong>{{email }}</strong>.</p>
</div>

{% endblock content %}