{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block description %}O PlayPlan é uma plataforma inclusiva que busca facilitar o desenvolvimento e bem-estar de crianças com TDAH e Autismo.{% endblock description %}
{% block title %}Política de Privacidade{% endblock title %}

{% block content %}

<div class="container texto-branco mt-5">
  <h1 class="text-center mb-4">Política de Privacidade, Segurança e Cookies</h1>
  <p>Bem-vindo à Política de Privacidade, Segurança e Cookies do playplan.net.br. Nós valorizamos a sua privacidade e segurança online. Esta política detalha como coletamos, usamos, compartilhamos e protegemos suas informações pessoais, bem como o uso de cookies em nosso site.</p>
  <h2>Coleta de Informações:</h2>
  <p>Ao utilizar o site playplan.net.br, podemos coletar informações pessoais como nome, endereço de e-mail, informações de contato e dados de pagamento, quando necessário para fornecer serviços específicos ou processar transações. Além disso, podemos coletar informações automaticamente, como endereço IP, tipo de navegador, data e hora de acesso, através do uso de cookies e tecnologias similares.</p>
  <h2>Uso de Informações:</h2>
  <p>Utilizamos as informações coletadas para fornecer e melhorar nossos serviços, personalizar sua experiência no site, processar transações, fornecer suporte ao cliente, enviar comunicações relacionadas aos serviços e proteger contra atividades fraudulentas ou abusivas.</p>
  <h2>Compartilhamento de Informações:</h2>
  <p>Podemos compartilhar suas informações pessoais com terceiros apenas quando necessário para fornecer os serviços solicitados ou autorizados por você. Isso pode incluir processadores de pagamento, provedores de serviços de hospedagem, parceiros de marketing e autoridades legais, conforme exigido por lei ou quando necessário para proteger nossos direitos ou a segurança de outros usuários.</p>
  <h2>Segurança:</h2>
  <p>Implementamos medidas de segurança física, técnica e administrativa para proteger suas informações contra acesso não autorizado, uso indevido ou divulgação. No entanto, é importante ressaltar que nenhum método de transmissão ou armazenamento de dados é completamente seguro, e não podemos garantir a segurança absoluta de suas informações.</p>
  <h2>Cookies:</h2>
  <p>Utilizamos cookies e tecnologias similares para melhorar a funcionalidade do site, analisar o tráfego, personalizar conteúdo e anúncios, e fornecer uma experiência mais personalizada aos usuários. Você pode controlar o uso de cookies através das configurações do seu navegador, mas isso pode afetar a funcionalidade do site.</p>
  <h2>Alterações na Política de Privacidade:</h2>
  <p>Reservamo-nos o direito de atualizar esta Política de Privacidade periodicamente para refletir mudanças em nossas práticas de privacidade e conformidade com as leis aplicáveis. Recomendamos que você revise esta política regularmente para se manter informado sobre como protegemos suas informações.</p>
  <p>Ao utilizar o site playplan.net.br, você concorda com os termos e condições desta Política de Privacidade, Segurança e Cookies. Se tiver alguma dúvida ou preocupação sobre nossas práticas de privacidade, entre em contato conosco através dos canais de suporte fornecidos no site. Obrigado por escolher o playplan.net.br.</p>
</div>

{% endblock content %}