{% extends 'base.html' %}
{% load static bootstrap5 %}


{% block title %}Quem Somos{% endblock title %}

{% block content %}

<div class="container marketing mb-3">
    <h1 class="text-white">Quem Somos</h1>

    <!-- Three columns of text below the carousel -->
    <div class="row text-center">
      <div class="col-lg-3 mt-3">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
        <img src="/static/img/Gleiser.jpeg" width="140" height="140" class="bd-placeholder-img rounded-circle" alt="">
        <h2 class="fw-normal text-white">Gleiser Wesley</h2>
        <p class="text-white-50">Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 mt-3">
        <img src="/static/img/Claudia.jpeg" width="140" height="140" class="bd-placeholder-img rounded-circle" alt="">
        <h2 class="fw-normal text-white">Cláudia Norberta</h2>
        <p class="text-white-50">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 mt-3">
        <img src="/static/img/Tasso.jpeg" width="140" height="140" class="bd-placeholder-img rounded-circle" alt="">
        <h2 class="fw-normal text-white">Francisco Tasso</h2>
        <p class="text-white-50">And lastly this, the third column of representative placeholder content.</p>
        
      </div>
      <div class="col-lg-3 mt-3">
        <img src="/static/img/Will.jpeg" width="140" height="140" class="bd-placeholder-img rounded-circle" alt="">
        <h2 class="fw-normal text-white">Johny William</h2>
        <p class="text-white-50">And lastly this, the third column of representative placeholder content.</p>
        
      </div><!-- /.col-lg-4 -->
    </div>
    <h1 class="text-white">Missão</h1>
    <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ipsa ipsam perspiciatis sint excepturi corporis modi magnam itaque commodi? Laudantium molestiae doloremque neque in tenetur corporis alias voluptatum temporibus voluptates? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error cumque hic voluptatibus quam provident atque praesentium accusantium a, asperiores dolorum delectus, blanditiis, facere minima fuga impedit labore sunt est exercitationem.</p>
    <h1 class="text-white">Visão</h1>
    <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, iste saepe porro laudantium, dignissimos quis nesciunt sequi eligendi modi necessitatibus ad aspernatur repellat deserunt sunt. Nihil ad optio distinctio sit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, ducimus incidunt temporibus iusto est ipsa veritatis, laudantium maxime odit officia et rerum labore veniam aut reprehenderit, ex quisquam ad nostrum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo deleniti ipsam dolor doloremque, praesentium, deserunt repellat quis amet harum optio sed totam voluptates. Id voluptatibus nisi quis amet autem.</p>
    <h1 class="text-white">Valores</h1>
    <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptate nihil architecto, recusandae nam minus totam qui accusamus omnis unde ea. Ex necessitatibus fugiat vitae alias voluptatibus provident debitis exercitationem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis et, corporis officiis laudantium eos illo earum tempora ullam exercitationem incidunt, voluptates nisi adipisci soluta fugit animi rem ratione doloremque vitae. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex laborum expedita, cum debitis fuga veniam quidem porro perferendis temporibus dolorem saepe voluptate voluptates repudiandae iure et vero molestias ducimus reprehenderit.</p>

</div>

{% endblock content %}