{% extends 'base.html' %}
{% load static bootstrap5 bootstrap_icons %}


{% block title %}Quem Somos{% endblock title %}

{% block content %}

<div class="container marketing mb-3">
    <h1 class="text-white">Quem Somos</h1>

    <!-- Three columns of text below the carousel -->
    <div class="row text-center">
      <div class="col-lg-3 mt-3">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
        <img src="/static/img/Gleiser.jpeg" width="140" height="140" class="bd-placeholder-img rounded-circle" alt="">
        <h2 class="fw-normal text-white">Gleiser Wesley</h2>
        <p class="text-white-50">Desenvolvedor Web</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 mt-3">

        <img src="/static/img/Claudia.jpeg" width="140" height="140" class="bd-placeholder-img rounded-circle" alt="">
        <h2 class="fw-normal text-white">Cláudia Norberta</h2>
        <p class="text-white-50">Desenvolvedor Web</p>

        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 mt-3">
        <img src="/static/img/Tasso.jpeg" width="140" height="140" class="bd-placeholder-img rounded-circle" alt="">
        <h2 class="fw-normal text-white">Francisco Tasso</h2>
        <p class="text-white-50">Desenvolvedor Web</p>
        
      </div>
      <div class="col-lg-3 mt-3">
        <img src="/static/img/profile-pic (7).png" width="140" height="140" class="bd-placeholder-img rounded-circle" alt="">
        <h2 class="fw-normal text-white">Johny William</h2>
        <p class="text-white-50">Desenvolvedor Web</p>
        
      </div><!-- /.col-lg-4 -->
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
          <h1 class="text-white">Missão</h1>
          <p class="text-white-50">Facilitar o desenvolvimento e bem-estar de crianças com TDAH e Autismo, oferecendo uma plataforma inovadora e inclusiva, o PlayPlan. Buscamos proporcionar autonomia e apoio, promovendo rotinas estruturadas e contribuindo para a qualidade de vida de crianças e seus cuidadores.</p>
      </div>
      <div class="col-md-6">
          <h1 class="text-white">Visão</h1>
          <p class="text-white-50">Ser a referência global em soluções tecnológicas dedicadas ao suporte de crianças com necessidades especiais. Buscamos constantemente aprimorar o PlayPlan, expandir sua acessibilidade e impacto positivo, tornando-o uma ferramenta essencial para famílias, profissionais de saúde e educadores.</p>
      </div>
  </div>

  <div class="row mt-5">
      <div class="col-md-6">
          <h1 class="text-white">Valores</h1>
          <ul class="text-white-50">
              <li>Comprometemo-nos a criar um ambiente inclusivo, considerando as diversas necessidades das crianças com TDAH e Autismo, garantindo que o PlayPlan seja acessível a todos.</li>
              <li>Valorizamos a empatia em todas as interações, compreendendo as experiências únicas de cada criança e cuidador, moldando nosso serviço para atender às suas necessidades.</li>
              <li>Buscamos a inovação constante, mantendo o PlayPlan na vanguarda das soluções tecnológicas, incorporando novas funcionalidades e abordagens para aprimorar a experiência do usuário.</li>
              <li>Reconhecemos a importância da colaboração, trabalhando em conjunto com famílias, profissionais de saúde e educadores para garantir que o PlayPlan atenda às demandas reais e evolua de maneira significativa.</li>
              <li>Comprometemo-nos a oferecer um serviço de alta qualidade, garantindo que o PlayPlan seja confiável, seguro e eficaz em atender às necessidades específicas de nossos usuários.</li>
          </ul>
      </div>
      <div class="col-md-6">
        <img src="/static/img/alvo.png" alt="Valores Image" class="img-fluid">
    </div>
  </div>

</div>

{% endblock content %}