{% extends 'administration/teste.html' %}
{% load static bootstrap5 %}

<!-- {% block description %}O PlayPlan é uma plataforma inclusiva que busca facilitar o desenvolvimento e bem-estar de crianças com TDAH e Autismo.{% endblock description %} -->
{% block title %}Novo Banner | {{ block.super }} {% endblock title %}

{% block main %}

<div>
  <nav aria-label="breadcrumb">
      <ol class="teste breadcrumb breadcrumb-custom overflow-hidden text-center text-white rounded-3">
          <li class="breadcrumb-item text-white">
              <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'painel_adm' %}">
                  <i class="fa-solid fa-house"></i><span class="dist"></span>
                  Painel
              </a>
          </li>
          <li class="breadcrumb-item text-white">
              <a class="link-body-emphasis fw-semibold text-decoration-none text-white" href="{% url 'image_list' %}">Lista de Banners</a>
          </li>
          <li class="breadcrumb-item active text-white" aria-current="page">
              Adicionar Slide
          </li>
      </ol>
  </nav>
</div>


<div class="teste text-white bg-secondary-subtle rounded border p-4">
  <h2>Adicionando Banner</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary mt-2">Adicionar</button>
  </form>
</div>



{% endblock %}