{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block title %}Excluir Slide{% endblock title %}

{% block content %}

<div class="container mt-3">
  <h2 class="texto-branco">Excluir Slide</h2>

  <div class="container texto-branco">
    
    <p>Você tem certeza de que deseja excluir este slide?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Excluir</button>
      <a href="{% url 'image_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>

{% endblock %}