{% extends 'administration/painel.html' %}
{% load static bootstrap5 %}

{% block title %}Painel Administrativo{% endblock title %}



{% block conteudo %}


<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-regular fa-newspaper"></i><span class="dist"></span>Publicação de Notícias</h5>
                <p class="card-text">Acesso fácil às ferramentas de gerenciamento do Blog sobre TEA e TDAH. Nossos blogs até o momento já publicaram {{num_blogpost}} notícias sobre as {{num_category}} categorias cadastradas.</p>
                <a href="#" class="btn btn-primary">Lista de Postagens</a>
                <a href="#" class="btn btn-primary">Ver Categorias</a>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-regular fa-image"></i><span class="dist"></span> Gerenciamento de Banners</h5>
                <p class="card-text">A forma mais fácil de atualizar o banner do site e deixar sempre em evidência o que merece ser destaque. Já foram inseridos {{num_carousel}} banners desde o início da plataforma.</p>
                <a href="#" class="btn btn-primary">Listar Banners</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-regular fa-handshake"></i><span class="dist"></span>Administrar Apoiadores</h5>
                <p class="card-text">Eles são os que principalmente acreditam no nosso trabalho e incentivam para que o PlayPlan cresça mais a cada dia. Já são {{ num_apoiadores }} cadastrados como apoiador.</p>
                <a href="{% url 'lista_de_apoiadores' %}" class="btn btn-primary">Ver Apoiadores</a>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-regular fa-envelope"></i><span class="dist"></span>Gestão de Mensagens</h5>
                <p class="card-text">No total, já foram realizados {{num_contatos}} com a nossa plataforma. Nossa intenção é de sempre manter um bom relacionamento com os nossos usuários e atendendo a todos os feedbacks.</p>
                <a href="{% url 'contato_list' %}" class="btn btn-primary">Caixa de Entrada</a>
            </div>
        </div>
    </div>
</div>


{% endblock conteudo %}