{% extends 'base.html' %}
{% load static bootstrap5 %}


{% block title %}Painel Administrativo{% endblock title %}

{%block content%}


<div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <!-- <ul class="list-group">
                <li class="list-group-item"><i class="fa-regular fa-image"></i> Banners</li>
                <li class="list-group-item"><i class="fa-regular fa-envelope"></i>  Mensagens</li>
                <li class="list-group-item"><i class="fa-regular fa-user"></i>  Usuários</li>
                <li class="list-group-item"><i class="fa-regular fa-handshake"></i> Apoiadores</li>
                <li class="list-group-item"><i class="fa-regular fa-newspaper"></i> Notícias</li>
              </ul> -->

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa-regular fa-image"></i><span class="dist"></span>Banners
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <a href="{% url 'add_image' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-regular fa-plus"></i> Inserir Banner</li>
                                </a>
                                <a href="{% url 'image_list' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-list"></i> Listar Banners</li>
                                </a>
                                <a href="{% url 'image_list' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-rotate-right"></i> Atualizar
                                        Banner</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa-regular fa-envelope"></i><span class="dist"></span>Mensagens
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <a href="{% url 'contato_list' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-inbox"></i> Listar Mensagens</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa-regular fa-user"></i><span class="dist"></span>Usuários
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <a href="" class="text-decoration-none" id="option">
                                    <li class="list-group-item list-group-item-action"><i class="fa-regular fa-plus"></i> Criar Usuário</li>
                                </a>
                                <a href="" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-users"></i> Listar Usuários</li>
                                </a>
                                <a href="" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-rotate-right"></i> Atualizar
                                        Usuário</li>
                                </a>
                                <a href="" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-trash"></i> Apagar
                                        Usuário</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <i class="fa-regular fa-handshake"></i><span class="dist"></span>Apoiadores
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <a href="{% url 'criar_apoiador' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-regular fa-plus"></i> Criar Apoiador</li>
                                </a>
                                <a href="{% url 'lista_de_apoiadores' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-list"></i> Listar Apoiadores</li>
                                </a>
                                <a href="{% url 'lista_de_apoiadores' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-rotate-right"></i> Atualizar
                                        Apoiador</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <i class="fa-regular fa-newspaper"></i><span class="dist"></span>Notícias
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <a href="{% url 'blog_post_create' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-pencil"></i> Escrever Notícia</li>
                                </a>
                                <a href="{% url 'lista_de_noticias' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-regular fa-newspaper"></i> Listar Notícias</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <i class="fa-solid fa-table"></i><span class="dist"></span>Categorias
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <a href="{% url 'criar_categoria' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-diagram-next"></i> Criar Categoria</li>
                                </a>
                                <a href="{% url 'listar_categorias' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-layer-group"></i> Listar Categoria</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            <i class="fa-regular fa-comment"></i><span class="dist"></span>Depoimentos
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <a href="{% url 'depoimento-create' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-solid fa-diagram-next"></i> Criar Depoimento</li>
                                </a>
                                <a href="{% url 'depoimento-list' %}" class="text-decoration-none">
                                    <li class="list-group-item list-group-item-action"><i class="fa-regular fa-comments"></i> Listar Depoimentos</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">

            {% block conteudo%}


            {% endblock conteudo%}
            
        </div>
    </div>
</div>




{% endblock content%}