{% extends 'base.html' %}
{% load static bootstrap5 %}


{% block title %}Depoimento{% endblock title %}
{% block content %}

<div class="container texto-branco mt-3">

  <h2>Lista de Depoimentos</h2>
  <ul>
    {% for depoimento in depoimentos %}
    <li>
      {{ depoimento.nome }} - {{ depoimento.cargo }}
      <a href="{% url 'depoimento-detail' depoimento.pk %}">Detalhes</a>
      <a href="{% url 'depoimento-update' depoimento.pk %}">Editar</a>
      <a href="{% url 'depoimento-delete' depoimento.pk %}">Excluir</a>
    </li>
    {% endfor %}
  </ul>
  <a href="{% url 'depoimento-create' %}">Adicionar novo depoimento</a>
</div>
{% endblock %}