{% extends 'administration/painel.html' %}
{% load static bootstrap5 %}


{% block title %}Apagar Depoimento{% endblock title %}

{% block conteudo %}

<div class="container mt-3 texto-branco">

  <h2>Confirmar Exclusão</h2>
  <p>Você tem certeza de que deseja excluir o depoimento {{ depoimento.nome }} - {{ depoimento.cargo }}?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Confirmar Exclusão</button>
    <a class="btn btn-danger" href="{% url 'depoimento-list' %}">Cancelar</a>
  </form>
  

</div>
{% endblock %}